@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-grove-50: hsl(41 100% 96%);
  --color-grove-100: hsl(37 90% 85%);
  --color-grove-200: hsl(37 100% 80%);
  --color-grove-300: hsl(34 100% 71%);
  --color-grove-400: hsl(32 86% 62%);
  --color-grove-500: hsl(28 81% 54%);
  --color-grove-600: hsl(24 76% 51%);
  --color-grove-700: hsl(23 76% 42%);
  --color-grove-800: hsl(23 77% 33%);
  --color-grove-900: hsl(22 80% 23%);
  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-header: 'Franklin Gothic Condensed', sans-serif;
  --font-copy: 'Georgia', serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('/fonts/franklin-gothic-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes raffle-roll {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes surfer {
    0% {
      transform: translateX(-300%) translateY(-25%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateX(0) translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes boat {
    0% {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes boat-wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes dolphin {
    0% {
      offset-distance: 0%;
      rotate: -30deg;
      opacity: 0;
      /* background: green; */
    }
    100% {
      offset-distance: 100%;
      rotate: 0deg;
      opacity: 1;
      /* background: red; */
    }
  }
  @keyframes jellyfish {
    0% {
      transform: translate(50px, 300px);
      rotate: -10deg;
      opacity: 0;
      /* background: green; */
    }
    100% {
      transform: translate(0, 0);
      rotate: 0deg;
      opacity: 1;
      /* background: red; */
    }
  }

  @keyframes fish {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
  }
}

:is(
  input[type='text'],
  input[type='search'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  textarea
) {
  padding: 12px;
  line-height: 1;
  border-radius: 8px;
  border: 2px solid #fbe2b6;
  background-color: transparent;
  color: #fbe2b6;
}

:is(
  input[type='text'],
  input[type='search'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  textarea
)::placeholder {
  color: #fbe2b6;
  opacity: 0.7;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

p,
ul,
ol {
  font-family: var(--font-copy);
}

.grecaptcha-badge {
  visibility: hidden;
}

.article p {
  @apply mb-2;
  line-height: 1.2;
}

.article a {
  @apply underline;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply mt-4 mb-1;
}

.article h1 {
  @apply mb-4;
}

.article h2 {
  @apply text-2xl;
}

.article ul {
  @apply mt-2 mb-4;
}

.article ul li {
  @apply ml-[14px] list-disc;
}

.article .box {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-grove-100);
}

.article a[role='button'].builder-block,
.article .wp-block-button__link,
.article a.button,
.article a.wp-block-button {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  line-height: 1;
  border-radius: 8px;
  background-color: #e27c22;
  color: var(--color-grove-100);
  cursor: pointer;
  text-transform: uppercase;
  align-self: center;
}

.article a[role='button'].builder-block:hover,
.article .wp-block-button__link:hover,
.article a.button:hover,
.article a.wp-block-button:hover {
  background-color: #fc7108;
}

#contactForm {
  scroll-margin-top: 240px;
}

@layer components {
  button,
  .button {
    padding: 12px;
    line-height: 1;
    border-radius: 8px;
    background-color: #e27c22;
    color: var(--color-grove-100);
    cursor: pointer;
    text-transform: uppercase;
  }

  button:hover,
  .button:hover {
    background-color: #fc7108;
  }
}
