@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('/fonts/franklin-gothic-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grove-50: #fff9ec;
  --color-grove-100: #fbe2b6; /* new anchor */
  --color-grove-200: #ffd79a;
  --color-grove-300: #ffc36c;
  --color-grove-400: #f2a749;
  --color-grove-500: #e88b2b;
  --color-grove-600: #e27c22; /* anchor */
  --color-grove-700: #bd6219;
  --color-grove-800: #974d13;
  --color-grove-900: #6a340c;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-header: 'Franklin Gothic Condensed', sans-serif;
  --font-copy: 'Georgia', serif;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-bottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes surfer {
    0% {
      transform: translateX(-300%) translateY(-25%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateX(0) translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes boat {
    0% {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes boat-wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes dolphin {
    0% {
      offset-distance: 0%;
      rotate: -30deg;
      opacity: 0;
      /* background: green; */
    }
    100% {
      offset-distance: 100%;
      rotate: 0deg;
      opacity: 1;
      /* background: red; */
    }
  }
  @keyframes jellyfish {
    0% {
      transform: translate(50px, 300px);
      rotate: -10deg;
      opacity: 0;
      /* background: green; */
    }
    100% {
      transform: translate(0, 0);
      rotate: 0deg;
      opacity: 1;
      /* background: red; */
    }
  }

  @keyframes fish {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  --animate-sun: fade-in 0.8s ease-out forwards;
  --animate-slide-in-bottom: slide-in-bottom 0.8s ease-out forwards;
  --animate-slide-in-left: slide-in-left 1.6s ease-out forwards;
  --animate-surfer: surfer 2.4s ease-out forwards, boat-wave 3.2s ease-in-out infinite 3.4s;
  --animate-rocket: slide-in-bottom 2.4s ease-out forwards;
  --animate-wave: wave 3.2s ease-in-out 0.3s infinite;
  --animate-ocean-top: wave 3.2s ease-in-out infinite;
  --animate-ocean-left: wave 3.2s ease-in-out infinite;
  --animate-ocean-right: wave 3.2s ease-in-out infinite;
  --animate-boat: boat 3.4s ease-out forwards, boat-wave 3.2s ease-in-out infinite 3.4s;
  --animate-smoke-1: fade-in 0.8s ease-out forwards;
  --animate-smoke-2: fade-in 0.8s ease-out forwards;
  --animate-smoke-3: fade-in 0.8s ease-out forwards 0.4s;
  --animate-smoke-4: fade-in 0.8s ease-out forwards 0.8s;
  --animate-smoke-5: fade-in 0.8s ease-out forwards 1.2s;
  --animate-smoke-6: fade-in 0.8s ease-out forwards 1.2s;
  --animate-smoke-7: fade-in 0.8s ease-out forwards 1.6s;
  --animate-smoke-8: fade-in 0.8s ease-out forwards 2s;
  --animate-dolphin: dolphin 2s ease-in-out forwards, boat-wave 3.2s ease-in-out infinite 2s;
  --animate-jellyfish: jellyfish 3s ease-in-out forwards, boat-wave 6.4s ease-in-out infinite 3s;
  --animate-fish: fish 1.6s ease-out forwards, boat-wave 3.2s ease-in-out infinite 1.6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:is(
  input[type='text'],
  input[type='search'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  textarea
) {
  padding: 12px;
  line-height: 1;
  border-radius: 8px;
  border: 2px solid #fbe2b6;
  line-height: 1;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

p,
ul,
ol {
  font-family: var(--font-copy);
}

.grecaptcha-badge {
  visibility: hidden;
}

.article p {
  @apply mb-2;
  line-height: 1.2;
}

.article a {
  @apply underline;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  @apply mt-4 mb-1;
}

.article h1 {
  @apply mb-4;
}

.article h2 {
  @apply text-2xl;
}

.article ul {
  @apply mt-2 mb-4;
}

.article ul li {
  @apply ml-[14px] list-disc;
}

.article .box {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-grove-100);
}

.article a[role='button'].builder-block {
  text-decoration: none;
  padding: 12px;
  line-height: 1;
  border-radius: 8px;
  background-color: #e27c22;
  color: var(--color-grove-100);
  cursor: pointer;
  text-transform: uppercase;
  align-self: center;
}

.article a[role='button'].builder-block:hover {
  background-color: #fc7108;
}

#contactForm {
  scroll-margin-top: 240px;
}

@layer components {
  button,
  .button {
    padding: 12px;
    line-height: 1;
    border-radius: 8px;
    background-color: #e27c22;
    color: var(--color-grove-100);
    cursor: pointer;
    text-transform: uppercase;
  }

  button:hover,
  .button:hover {
    background-color: #fc7108;
  }
}
